.carousel-container {
  width: 100%;
  height: 90vh;
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 90vh;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(34, 34, 34, 0.8) 20%,
    rgba(34, 34, 34, 0.4) 60%,
    rgba(34, 34, 34, 0) 100%
  );
}

.carousel-text {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 20px;
  z-index: 2;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li {
  margin: 0 1.2rem;
}

.slick-dots li button:before {
  font-size: 12px;
  color: var(--light-color);
  opacity: 0.7;
}

.slick-dots li.slick-active button:before {
  color: var(--light-color);
  opacity: 1;
}

.dot {
  width: 54px;
  height: 6px;
  background: var(--light-color);
  opacity: 25%;
  border-radius: 3px;
  transition: 0.3s;
}

.slick-dots li.slick-active .dot {
  opacity: 100%;
}
