.about-container {
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  max-width: 750px;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.read-more-button {
  height: 55px;
  width: 150px;
  background-color: var(--light-color);
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.read-more-button:hover,
.read-more-button:focus {
  background-color: var(--light-color-hover, #f0f0f0);
  color: var(--primary-color);
  outline: none;
}
