.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-chat {
  width: 100%;
  height: 4.5rem;
  color: var(--white);
  background: var(--right-gradient);
  font-size: 24px;
}

.contact-text {
  color: var(--white);
}

.contact-text h3 {
  font-size: 32px;
  background: var(--right-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin: 50px 0;
}

.contact-text p {
  font-size: 18px;
  width: 500px;
  line-height: 1.6;
  margin: 50px 0;
}

.contact-text ul {
  list-style: none;
  padding: 0;
  margin: 50px 0;
}

.contact-text li {
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.contact-text li::before {
  content: "✔";
  background: var(--bottom-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}