.message {
  z-index: 1;
  background: var(--right-gradient);
  color: var(--white);
}

.message h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 0 auto 25px;
}

.message p {
  max-width: 1000px;
  margin: 25px auto;
  font-size: 24px;
}

.hydration-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.hydration-form .input-group input {
  width: 320px;
}

.hydration-form .input-group span {
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
}

.btn-hydration {
  width: 100%;
  height: 4rem;
  color: var(--white);
  background: var(--right-gradient);
  font-size: 24px;
}

.hydration-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
}

.hydration-result img {
  width: 125px;
  height: auto;
  margin-bottom: 2rem;
}

.hydration-result p {
  font-size: 36px;
  line-height: 1.4;
  font-weight: normal;
}

.hydration-result span {
  background: var(--bottom-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}