.avatar-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* imagem */
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* fallback */
.avatar-fallback {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;

  /* Aplicando suas variáveis */
  color: var(--dark-color);
  background-color: var(--light-color);
}
